@model IEnumerable<Travel.Models.GroupModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfMale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoofFemale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.NoOfMale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoofFemale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Accept", "Accept", new { id=item.TouristId,reqid=item.GroupRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TouristId , reqid = item.GroupRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TouristId , reqid = item.GroupRequestId })
        </td>
    </tr>
}

</table>
